app/App_WebReferences/sAreas/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Areas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Entidades" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AccesoDatos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAreas_Nuevo_InputMessage">
    <wsdl:part name="parameters" element="tns:Nuevo" />
  </wsdl:message>
  <wsdl:message name="IAreas_Nuevo_OutputMessage">
    <wsdl:part name="parameters" element="tns:NuevoResponse" />
  </wsdl:message>
  <wsdl:message name="IAreas_Todas_InputMessage">
    <wsdl:part name="parameters" element="tns:Todas" />
  </wsdl:message>
  <wsdl:message name="IAreas_Todas_OutputMessage">
    <wsdl:part name="parameters" element="tns:TodasResponse" />
  </wsdl:message>
  <wsdl:message name="IAreas_xClave_InputMessage">
    <wsdl:part name="parameters" element="tns:xClave" />
  </wsdl:message>
  <wsdl:message name="IAreas_xClave_OutputMessage">
    <wsdl:part name="parameters" element="tns:xClaveResponse" />
  </wsdl:message>
  <wsdl:message name="IAreas_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IAreas_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:portType name="IAreas">
    <wsdl:operation name="Nuevo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAreas/Nuevo" message="tns:IAreas_Nuevo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAreas/NuevoResponse" message="tns:IAreas_Nuevo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Todas">
      <wsdl:input wsaw:Action="http://tempuri.org/IAreas/Todas" message="tns:IAreas_Todas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAreas/TodasResponse" message="tns:IAreas_Todas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="xClave">
      <wsdl:input wsaw:Action="http://tempuri.org/IAreas/xClave" message="tns:IAreas_xClave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAreas/xClaveResponse" message="tns:IAreas_xClave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAreas/Eliminar" message="tns:IAreas_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAreas/EliminarResponse" message="tns:IAreas_Eliminar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAreas" type="tns:IAreas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Nuevo">
      <soap:operation soapAction="http://tempuri.org/IAreas/Nuevo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Todas">
      <soap:operation soapAction="http://tempuri.org/IAreas/Todas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="xClave">
      <soap:operation soapAction="http://tempuri.org/IAreas/xClave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IAreas/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Areas">
    <wsdl:port name="BasicHttpBinding_IAreas" binding="tns:BasicHttpBinding_IAreas">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Servicios/Areas/rest" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>