app/App_WebReferences/sUsuarios/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Usuarios" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Entidades" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AccesoDatos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuarios_ValidaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidaUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_ValidaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_Nuevo_InputMessage">
    <wsdl:part name="parameters" element="tns:Nuevo" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_Nuevo_OutputMessage">
    <wsdl:part name="parameters" element="tns:NuevoResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_Todos_InputMessage">
    <wsdl:part name="parameters" element="tns:Todos" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_Todos_OutputMessage">
    <wsdl:part name="parameters" element="tns:TodosResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_xClave_InputMessage">
    <wsdl:part name="parameters" element="tns:xClave" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_xClave_OutputMessage">
    <wsdl:part name="parameters" element="tns:xClaveResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuarios">
    <wsdl:operation name="ValidaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarios/ValidaUsuario" message="tns:IUsuarios_ValidaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarios/ValidaUsuarioResponse" message="tns:IUsuarios_ValidaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Nuevo">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarios/Nuevo" message="tns:IUsuarios_Nuevo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarios/NuevoResponse" message="tns:IUsuarios_Nuevo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Todos">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarios/Todos" message="tns:IUsuarios_Todos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarios/TodosResponse" message="tns:IUsuarios_Todos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="xClave">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarios/xClave" message="tns:IUsuarios_xClave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarios/xClaveResponse" message="tns:IUsuarios_xClave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarios/Eliminar" message="tns:IUsuarios_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarios/EliminarResponse" message="tns:IUsuarios_Eliminar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuarios" type="tns:IUsuarios">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidaUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarios/ValidaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Nuevo">
      <soap:operation soapAction="http://tempuri.org/IUsuarios/Nuevo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Todos">
      <soap:operation soapAction="http://tempuri.org/IUsuarios/Todos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="xClave">
      <soap:operation soapAction="http://tempuri.org/IUsuarios/xClave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IUsuarios/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Usuarios">
    <wsdl:port name="BasicHttpBinding_IUsuarios" binding="tns:BasicHttpBinding_IUsuarios">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Servicios/Usuarios/rest" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>